html body.bg-full-screen-image {
      background: url(../../assets/images/background.jpg) no-repeat center center fixed;
      background-size: cover; }
.side-menu {
    width: 260px;
}
.content-page {
    margin-left: 260px;
}
.navbar-custom {
    left: 260px;
}
.p-r-20 {
	padding-right: 20px;
}
ul.list-unstyled li i {
	position: relative;
    padding-left: 0.4em;
}
#sidebar-menu {
    padding-bottom: 100px;
}
#sidebar-menu ul li.has_sub ul.list-unstyled li a::before {
	content: '\F60D';
	position: absolute;
	left: 45px;
	font-size: 14px;
	font-family: "Material Design Icons";
	top: 12px;
}
#sidebar-menu ul li.has_sub ul.list-unstyled li ol.list-unstyled li a::before {
	content: '\F13E';
	position: absolute;
	left: 60px;
	font-size: 14px;
	font-family: "Material Design Icons";
	top: 12px;
}
#sidebar-menu ul ul a {
    padding: 12px 25px 12px 78px;
}
.notification-list .notify-item .notify-details {
   margin-left: 0px;
}
.text-right {
	text-align: right;
}

.page-title-box .breadcrumb {
	padding: 0px;
}	
.form-divider{height:0;margin-bottom:20px;overflow:hidden;border-top:1px solid #e9ecef}
.text-muted {
  color: #aeaeae !important;
}
.form-control::placeholder, input[type="date"], input[type="time"] {color: #aeaeae; }
.btn-sm { font-size: 14px !important;}
.btn-group-sm > .btn, .btn-sm { padding: .15rem .4rem;}
.a-15 {
	width: 15%;
}
.a-70 {
	width: 70%;
}
.btn-light{color:#212529;background-color:#ededed;border-color:#ededed}.btn-light:hover{color:#212529;background-color:#dddddd;border-color:#dddddd}
.f-b {
	font-weight: bold;
}
.alert-inactive {background-color:#c8c8c8}
.main-timeline .year {
    right: 14%;
}
.main-timeline .timeline:nth-child(2n) .year {
    left: 19%;
}
.table thead th {
  background-color: #1f2b38;

  color: #ffffff;
  margin: 0 10px;
  padding: 20px 0;
  /*padding: 20px;*/
  text-align: center;
  vertical-align: middle;
}
.table thead th, .table-bordered th, .table td, .table th {
    border-bottom: none;
}
.table-reservar thead th {
    background-color: #1f2b38;
    border: 1px solid #1f2b38;
    color: #ffffff;
    margin: 0 10px;
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
}
.table-reservar td, .table th {
    padding: .35rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table-reservar {
    width: 100%;
    border: solid 1px #dee2e6;
}
.nav-user-soporte img {
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}


// Datatable //

div.dataTables_wrapper div.dataTables_paginate {
    margin-top: 15px;
    position: absolute;
    text-align: right;
    left: 50%;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    padding-right: 18px;
    border-bottom: none;
}

.dataTables_wrapper .dataTables_paginate {
    float: left;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0px;
  margin-left: 0px;
}  

.box {
  display: none;
}