
@{
    Layout = "~/Views/Shared/_Layout_Suscribe.cshtml";
    ViewBag.Title = "Error";
}

<div style="text-align:center; padding-top: 100px;">
    <h2>Runtime Error Page</h2>
    <h3>500 Error</h3>
    <p style="font-size: 20px;">This request has been failed</p>
    <p style="font-size: 20px;">I'm probably working on something that has blown up.</p>
</div>