
@{
    Layout = "~/Views/Shared/_Layout_Suscribe.cshtml";
    ViewBag.Title = "NotFound";
}

<div style="text-align:center; padding-top: 100px;">
    <h2>NotFound Page</h2>
    <h3>404 Error</h3>
    <p style="font-size: 20px;">This may not mean anything</p>
    <p style="font-size: 20px;">I'm probably working on something that has blown up.</p>
</div>