
@{
    ViewBag.Title = "crear";
    Page.Title = "Crear Plantilla de Email - Brokolee Software";
}

<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-left">
                        <div class="breadcrumb float-md-right">
                            <h4 class="page-title">Crear Plantillas de Email</h4>
                        </div>
                    </div>
                    <div class="float-right">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("panel", "control", new { area = "coadmin" })" class="text-success"><i class="mdi mdi-home-modern"></i> Panel de Control</a></li>
                            <li class="breadcrumb-item active">Crear Plantillas de Email</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="d-inline-block">Nueva Plantilla</h5>
                        <div class="form-divider"></div>
                        <div class="col-lg-12">
                            @using (Html.BeginForm("AddEmaulTheme", "plantillas",
                               FormMethod.Post,
                               new
                               {
                                   id = "newEmaulThemeForm",
                                   @class = "",
                                   area = "coadmin",
                                   enctype = "multipart/form-data"
                               }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <textarea id="content" rows="15" name="content" class="tinymce"></textarea>
                                </div>

                                <div id="summernote" class="mb-2">
                                    <select id="type_select" class="form-control" name="typeID">
                                        @foreach (var item in Model.typeList)
                                        {
                                            <option value="@item.id">@item.represent</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group mb-0">
                                    <div class="my-3">
                                        <button class="btn btn-primary"  type="submit"> <span>Crear Plantilla</span></button>
                                        <a href="javascript:history.back()"><button type="button" class="btn btn-danger waves-effect waves-light">Cancelar</button></a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end row -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->