
@{
    ViewBag.Title = "blog";
    Page.Title = "Agregar entrada - Brokolee Software";
}
 
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <!-- include summernote css/js -->
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-lite.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-lite.min.js"></script>

        <div class="page-content-wrapper">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="float-left">
                                <div class="breadcrumb float-md-right">
                                    <h4 class="page-title">Agregar Entrada</h4>
                                </div>
                            </div>
                            <div class="float-right">
                                <ul class="breadcrumb float-md-right">
                                    <li class="breadcrumb-item"><a href="@Url.Action("panel", "control", new { area = "webmaster" })" class="text-success"><i class="mdi mdi-home-modern"></i> Panel de Control</a></li>
                                    <li class="breadcrumb-item active">Agregar entrada</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title end breadcrumb -->
                <!-- back button -->
                <div class="row pb-4">
                    <div class="col-md-6">
                        <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
                    </div>
                </div>
                <!-- end back button -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            @using (Html.BeginForm("newblog", "comunicaciones",
                                FormMethod.Post,
                            new
                            {
                                id = "newblogForm",
                                @class = "",
                                enctype = "multipart/form-data",
                                area = "webmaster"
                            }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="card-body">
                                    <h5 class="d-inline-block">Nuevo blog</h5>
                                    <div class="form-divider"></div>
                                    <div class="form-group row">
                                        <label for="example-email-input-1" class="col-sm-3 col-form-label">Título</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" value="" name="title"
                                                   data-toggle="tooltip" title="Título descriptivo del blog"
                                                   placeholder="Título" id="example-email-input-1" required />
                                            <small class="form-text text-muted">Título descriptivo del blog</small>
                                        </div>
                                    </div>
                                    <div class="form-divider"></div>
                                    <div class="form-group row">
                                        <label for="example-email-input-2" class="col-sm-3 col-form-label">Autor</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" value="" name="author"
                                                   data-toggle="tooltip" title="Autor descriptivo del blog" placeholder="Autor"
                                                   id="example-email-input-2" required />
                                            <small class="form-text text-muted">Autor descriptivo del blog</small>
                                        </div>
                                    </div>
                                    <div class="form-divider"></div>
                                    <div class="form-group row">
                                        <label for="example-email-input-3" class="col-sm-3 col-form-label">Contenido</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" name="content" data-toggle="tooltip" id="tbxContenido"
                                                      title="Contenido descriptivo del blog"></textarea>
                                            <small class="form-text text-muted">Contenido descriptivo del blog</small>
                                        </div>
                                    </div>
                                    <div class="form-divider"></div>
                                    <a href=""><button type="submit" class="btn btn-primary waves-effect waves-light">Agregar Blog</button></a>
                                    <a href="@Url.Action("blog", "comunicaciones", new { area="webmaster" })"><button type="button" class="btn btn-danger waves-effect waves-light">Cancelar</button></a>
                                </div>
                            }
                        </div>
                    </div>
                </div><!-- end row -->
                <!-- back button -->
                <div class="row pb-4">
                    <div class="col-md-6">
                        <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
                    </div>
                </div>
                <!-- end back button -->

            </div><!-- container -->

        </div> <!-- Page content Wrapper -->

        <script>

            $('#tbxContenido').summernote();

        </script>
