
@{
    ViewBag.Title = "agregar";
    Page.Title = "Agregar suplidor - Brokolee Software";
}

<script src="~/Scripts/jquery-3.1.1.min.js"></script>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<style media="screen">
    #inputGroupFile04 {
        max-width: 150px;
        margin: 0 auto;
        height: 130px;
    }


    .garritas {
        max-width: 150px;
        height: 130px;
        margin: 0 auto;
    }
</style>

<div class="page-content-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-left">
                        <div class="breadcrumb float-md-right">
                            <h4 class="page-title">Agregar Suplidor</h4>
                        </div>
                    </div>
                    <div class="float-right">
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("panel", "control", new { area = "coadmin" })" class="text-success"><i class="mdi mdi-home-modern"></i> Panel de control</a></li>
                            <li class="breadcrumb-item active">Agregar suplidor</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->
        <div class="row">

            <div class="col-12">
                <div class="card">
                    @using (Html.BeginForm(
                        "newsupplier",
                        "suplidores",
                        FormMethod.Post,
                        new
                        {
                            id = "newsupplier",
                            @class = "",
                            area = "coadmin",
                            enctype = "multipart/form-data"
                        }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="card-body">
                            <h5 class="d-inline-block">Nuevo suplidor</h5>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label id="img-fluid" for="example-name2-input" class="col-sm-3 col-form-label"> </label>
                                <div class="col-sm-9">
                                    <div class="input-group mt-2">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputGroupFile04" name="logo_file"
                                                   data-toggle="tooltip" title="Subir logo en formato jpg o png">
                                            <label id="archeditar2" class="custom-file-label" for="inputGroupFile04">Seleccionar archivo</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <small class="form-text text-muted">Subir logo en formato jpg o png</small>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-3 col-form-label">Compañía suplidor</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="" data-toggle="tooltip" title="Nombre de la compañía del suplidor"
                                           placeholder="Compañía suplidor" id="example-email-input" name="company" required>
                                    <small class="form-text text-muted">Nombre de la compañía del suplidor</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-name1-input" class="col-sm-3 col-form-label">Nombre de contacto</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="" data-toggle="tooltip" title="Nombre de contacto del suplidor"
                                           placeholder="Nombre de contacto" id="example-name1-input" name="contact_name" required>
                                    <small class="form-text text-muted">Nombre de contacto del suplidor</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-lastname1-input" class="col-sm-3 col-form-label">Tipo de servicio</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="" data-toggle="tooltip" title="Servicio que ofrece"
                                           placeholder="Tipo de servicio" id="example-lastname1-input" name="type_service" required>
                                    <small class="form-text text-muted">Servicio que ofrece</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Categoría</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="category" data-toggle="tooltip" title="Categoría del suplidor" required>
                                        <option value="">Elije una categoría</option>
                                        @foreach (var item in Model.categoryList)
                                        {
                                            <option value="@item.Id">@item.name</option>
                                        }

                                    </select>
                                    <small class="form-text text-muted">Categoría del suplidor</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-lastname1-input" class="col-sm-3 col-form-label">Dirección</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" data-toggle="tooltip" title="Dirección del suplidor"
                                           value="" placeholder="Dirección" name="address" id="example-lastname1-input" required>
                                    <small class="form-text text-muted">Dirección del suplidor</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-tel1-input" class="col-sm-3 col-form-label">Teléfono</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="tel" value="" data-toggle="tooltip" title="Teléfono del suplidor"
                                           name="phone" placeholder="# Teléfono" id="example-tel1-input" required>
                                    <small class="form-text text-muted">Teléfono del suplidor</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-3 col-form-label">Correo electrónico</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="email" value="" data-toggle="tooltip" title="Correo electrónico del suplidor"
                                           name="email" placeholder="Correo electrónico" id="example-email-input" required>
                                    <small class="form-text text-muted">Correo electrónico del suplidor</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-date-input" class="col-sm-3 col-form-label">Suplidor desde</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="date" value="" id="example-date-input"
                                           name="supplier_from" data-toggle="tooltip" title="Mes / día / año | Fecha de registro en el directorio" required>
                                    <small class="form-text text-muted">Mes / día / año | Fecha de registro en el directorio</small>
                                </div>
                            </div>
                            <div class="form-divider"></div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-sm-3 col-form-label">Página web</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" value="" data-toggle="tooltip" title="Por ejemplo: wwww.suplidores.com"
                                           placeholder="Url de página web" name="web_page" id="example-email-input">
                                    <small class="form-text text-muted">Por ejemplo: wwww.suplidores.com</small>
                                </div>
                            </div>
                            <a href=""><button type="submit" class="btn btn-primary waves-effect waves-light">Guardar</button></a>
                            <a href="javascript:history.back()"> <button type="button" class="btn btn-danger waves-effect waves-light">Cancelar</button></a>
</div>
                    }
                </div>
            </div>
        </div><!-- end row -->
        <!-- back button -->
        <div class="row pb-4">
            <div class="col-md-6">
                <a href="javascript:history.back()"><button type="button" class="btn btn-light waves-effect waves-light"><i class="mdi mdi-keyboard-return"></i> Regresar</button></a>
            </div>
        </div>
        <!-- end back button -->

    </div><!-- container -->

</div> <!-- Page content Wrapper -->

<script type="text/javascript">

    (function () {

        function filePreview(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {


                    $('#img-fluid').html("<img class='garritas' src='" + e.target.result + "'/>");

                }

                reader.readAsDataURL(input.files[0]);

            }

        }
        $('#inputGroupFile04').change(function () {

            filePreview(this);
        });

    })();

</script>

<script type="text/javascript">

    (function () {

        $('#inputGroupFile04').change(function () {

            // $('#garras').prev().text($(this)[0].files[0].name);
            //nombre del archivo cargado=$(this)[0].files[0].name
            $('#archeditar2').html($(this)[0].files[0].name);
        });


    })();
</script>